.App {
  padding: 100px 0;
}

.App .topic {
  font-weight: 200;
  font-size: 30px;
  margin: 70px 0 30px 0;
}

.strong {
  font-weight: 300;
}

.App .gradient {
  background-image: url('../assets/gradient.png');
  background-size: cover;
  z-index: -1;
  width: 150%;
  height: 1000px;
  position: absolute;
  top: -400px;
  left: -30%;
  opacity: 0.05;
  border-radius: 0 0 1000px 0;
  transform: rotate(-22deg);
}
