.Layout {
  margin: 100px auto 0 auto;
  width: 100%;
  padding: 0 30px;
}

@media (min-width: 700px) {
  .Layout {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .Layout {
    width: 1000px;
  }
}
