.Project {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 52px -8px rgba(207, 207, 207, 0.4);
  -moz-box-shadow: 0px 0px 52px -8px rgba(207, 207, 207, 0.4);
  box-shadow: 0px 0px 52px -8px rgba(207, 207, 207, 0.4);
  padding: 40px;
  border-radius: 5px;
}

.Project h3 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.Project h4 {
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  margin-top: 8px;
}

.Project .techstack {
  font-size: 13px;
  margin: 0 0 5px 0;
}

.Project p {
  font-weight: 200;
  font-size: 16px;
}

.Project a {
  color: #6365ca;
  text-decoration: none;
  font-size: 13px;
}
