* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    background-color: #f8f9fb;
}

.main {
    min-height: 100vh;
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
    padding: 12%;
    padding-top:9%;
}

.intro h1 {
    font-size: calc(23px + 3.5vw);
}

.spotlight h2, .other h2 {
    margin-top: 80px;
}

.intro p {
    margin: 40px 0;
    max-width: 600px;
    font-size: 18px;
}

.spotlightProjects, .otherProjects {
    margin: 30px 0;
    display: grid;
    grid-gap: 20px;
}

.spotlightProjects {
    grid-template-columns: repeat(3, 1fr);
}

.otherProjects {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
    .spotlightProjects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .main {
        padding-top: 12%;
    }
}

@media (max-width: 800px) {
}

@media (max-width: 650px) {
    .spotlightProjects {
        grid-template-columns: repeat(1, 1fr);
    }
}